.main {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: fit-content;
}


.main > div:first-child {
    flex: 8; /* Cars: 70% */
    min-height: 100%; /* Ensure it stretches to match the parent height */
}


.main > div:last-child {
    flex: 2; /* Cars: 70% */
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    .main > div:first-child {
        flex: 10;
    }
    .main > div:last-child{
        display: none;
    }
  }
