.main {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: fit-content;
}


.main > div:first-child {
    flex: 8; /* Cars: 70% */
    background-color: aqua;
    min-height: 100%; /* Ensure it stretches to match the parent height */
}


.main > div:last-child {
    flex: 2; /* Cars: 70% */
    background-color: yellowgreen;
}
